*.sublime-*
bower_components/**
*.sublime-project
build/**
.crossbar/node.pid
*node_modules/**
quiz-client/bower_components
quiz-client/fonts
quiz-client/images
quiz-client/src
quiz-client/build/**
how_to_start/README.html
